body {
  background-image: url(./image/nature.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}
header{
 background-image: linear-gradient(to right, #823fa1 , #6248e7);
}
input {
 outline: none;
}
.container {
 max-width: 1280px;
}
.hover-li:hover {
 background-color: rgb(235, 233, 233);
}
.task-input::placeholder {
 color: rgb(0,191,255);
 font-weight: 500;
 font-size: 18px;
}

.icon-sun2:before {
  content: "\e901";
  color: rgb(30,144,255);
  font-size: 20px;
}
.icon-home3:before {
  content: "\e902";
  color: rgb(30,144,255);
  font-size: 20px;
}
.icon-calendar:before {
  content: "\e953";
  color: rgb(30,144,255);
  font-size: 15px;
}
.icon-search:before {
  content: "\e986";
  color: rgb(235, 233, 233);
  font-size: 20px;
}
.icon-cancel-circle:before {
  content: "\ea0d";
  font-size: 30px;
  color: #fff;
}
.icon-plus:before {
  content: "\f067";
  color: rgb(30,144,255);
  font-size: 15px;
}
.icon-star-o:before {
  content: "\f006";
  color: rgb(0,191,255);
  font-size: 20px;
}
.icon-trash-o:before {
  content: "\f014";
  color: red;
}
.icon-circle-thin:before {
  content: "\f1db";
}
.search {
  position: relative;
  width: 76px;
  height: 76px;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}
.search__button {
  width: 56px;
  height: 56px;
  background-image: linear-gradient(to right, #432054 , #6b57ce);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__icon, .search__close {
  color: #fff;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

/* Search animated */
.show-search {
  width: 400px;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}

.task, .done {
  cursor: pointer;
  position: relative;
}
.task:hover .bi-trash {
  color: rgba(255, 0, 0, 0.802);
}
.done:hover .bi-trash {
  color: rgba(255, 0, 0, 0.802);
}

.task::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: solid;
     border-color: rgba(0, 0, 0, 0.665);
    background-color: rgb(255, 255, 255);
    transform: translateX(-5px);
}
.done .childone {
  text-decoration: line-through;
  color: dimgray;
}
.done::after {
  content: '';
  position: absolute;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 30%;
  left: 3px;
  transform: rotate(45deg);
  height: 13px;
  width: 6px;
}
.done::before {
  content: "";
    position: absolute;
    left: 0;
    right: 10%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 255);
    transform: translateX(-5px);
}

.bi {
  font-size: 25px;
  padding-right: 15px;
}
.bi-trash {
  color: #fff;
  transition: all 0.6s;
}
.blue  {
  color: rgb(0, 170, 255);
}
.purple {
  color: rgb(191, 64, 191);
}