body {
  background-image: url(./image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
}

header {
 background-image: linear-gradient(to right, #823fa1 , #6248e7);
}

.outline-none {
 outline: none;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.container {
  max-width: 1280px;
 }

 .tasks-wrapper {
  max-height: 345px;
 }

 .cursor-pointer {
  cursor: pointer;
 }

.hover-li, .active {
   position: relative;
   
}

 .hover-li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 16px;
  top: 25px;
  left: 0;
  right: 100%;
}

 .hover-li:hover:before{
 border-left:4px solid rgb(0, 102, 255);
 transform: scaleY(4);
}

.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 16px;
  top: 25px;
  left: 0;
  right: 100%;
  border-left:4px solid rgb(0, 102, 255);
  transform: scaleY(4);
}

.hover-li:hover, .active {
 font-weight: bold;
 background-color: rgb(245, 246, 248);
}

.active .bi {
  background-image: -webkit-linear-gradient;
  background: linear-gradient(to right, #823fa1 , #6248e7);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.add-task {
 color: rgb(0,191,255);
 font-weight: 500;
 font-size: 18px;
}

.search {
  width: 76px;
  height: 76px;
  border-radius: 4rem;
  padding: 10px;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 30px;
  padding-left: 14px;
  font-weight: 500;
  background-color: rgba(67, 32, 84, 0.21)J;
  opacity: 0;
  pointer-events: none;
  cursor: initial;
  transition: opacity 1s;
}

.search__button {
  width: 56px;
  height: 56px;
  background-image: linear-gradient(to right, #432054 , #6b57ce);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  display: grid;
  place-items: center;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__icon {
 transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.show-search {
  width: 400px;
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.task:hover .bi-trash {
  color: rgba(255, 0, 0, 0.802);
}

.done:hover .bi-trash {
  color: rgba(255, 0, 0, 0.802);
}

.task::before {
    content: "";
    position: absolute;
    left: 5px;
    right: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-style: solid;
     border-color: rgba(0, 0, 0, 0.665);
    background-color: rgb(255, 255, 255);
    transform: translateX(-5px);
}

 .done .content {
  text-decoration: line-through;
  color: dimgray;
}

 .done::after {
  content: '';
  position: absolute;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 30%;
  left: 8px;
  transform: rotate(45deg);
  height: 13px;
  width: 6px;
}

.done::before {
   content: "";
    position: absolute;
    left: 5px;
    right: 10%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 255);
    transform: translateX(px);
}

.bi {
  font-size: 25px;
  padding-right: 15px;
}

.bi-trash {
  color: #fff; 
  transition: color 0.6s;
}

.blue  {
  color: rgb(0, 170, 255);
}
